<div class="tab-pane fade tab-pane-script-editor show active" id="report-editor-{{ numPanel }}" role="tabpanel" aria-labelledby="report-editor-{{ numPanel }}-tab">
        
    <div class="menu-script">
            &nbsp;&nbsp;
            <a href="" class="fa fa-2x fa-window-close"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:executeReport({{ numPanel }})" class="fa fa-2x fa-play"></a>&nbsp;&nbsp;
            <a href="javascript:showReport({{ numPanel }})" class="fa fa-2x fa-eye"></a>&nbsp;&nbsp;
    </div>
    <!--textarea id="">Editor de reportes {{ numPanel }}</textarea-->

    
          
    <article id="txtReport{{ numPanel }}" class="report-editor"></article>
    <article id="txtReport{{ numPanel }}_results" class="report-editor"></article>
    
</div>