<div class="tab-pane fade tab-pane-script-editor show active" id="script-editor-txtScript{{ numPanel }}" role="tabpanel" aria-labelledby="script-editor-txtScript{{ numPanel }}-tab">
        
    <div class="menu-script">
            &nbsp;&nbsp;
            <a href="" class="fa fa-2x fa-save"></a>&nbsp;&nbsp;
            <a href="" class="fa fa-2x fa-folder"></a>&nbsp;&nbsp;
            <a href="javascript:eliminarEditor('txtScript{{ numPanel }}')" class="fa fa-2x fa-window-close"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:executeScript({{ numPanel }})" class="fa fa-2x fa-play"></a>&nbsp;&nbsp;
            <a href="" class="fa fa-2x fa-indent"></a>&nbsp;&nbsp;
            <a href="" class="fa fa-2x fa-flag"></a>&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="" class="fa fa-2x fa-download"></a>&nbsp;&nbsp;
            <a href="" class="fa fa-2x fa-copy"></a>&nbsp;&nbsp;
            <a href="" class="fa fa-2x fa-filter"></a>
    </div>
    <!--textarea id="">Editor de scripts {{ numPanel }}</textarea-->
          
    <article id="txtScript{{ numPanel }}" class="code-editor"></article>
        
</div>