<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IDE Web</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'IDE/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'IDE/css/font-awesome.min.css' %}">
    <link rel='stylesheet' href="{% static 'IDE/css/basic-webide.css' %}" type="text/css" />
    
    <!-- Codemirror style -->
    <link rel="stylesheet" href="{% static 'IDE/codemirror/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'IDE/codemirror/addon/fold/foldgutter.css' %}">
    <link rel="stylesheet" href="{% static 'IDE/codemirror/addon/dialog/dialog.css' %}">
    <link rel="stylesheet" href="{% static 'IDE/codemirror/theme/monokai.css' %}">
    <link rel="stylesheet" href="{% static 'IDE/codemirror/theme/material.css' %}">
    <link rel="stylesheet" href="{% static 'IDE/codemirror/addon/hint/show-hint.css' %}" />

  </head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
            aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
        <a class="navbar-brand" href="#">FISQL</a>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                                Archivo
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" id="btnNewScriptEditor" href="#" ><span class="fa fa-code"></span> Nuevo editor USQL</a>
                        <a class="dropdown-item" id="btnNewReportEditor" href="#" ><span class="fa fa-file-text-o"></span> Nuevo editor de reporte USQL</a>
                        <a class="dropdown-item" id="btnOpenScriptEditor-tab" href="javascript:void(0)" role="tab" data-toggle="tab" aria-controls="dropdown2"><span class="fa fa-file"></span> Abrir USQL desde BD</a>
                            <a class="dropdown-item" id="btnUploadScriptEditor-tab" href="javascript:void(0)" role="tab" data-toggle="tab" aria-controls="dropdown2"><span class="fa fa-cloud-upload"></span> Subir USQL</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                                Herramientas
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+ Backup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">* Restore</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0"> 
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Javier Carpio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>



  
        {% block content %} contenido {% endblock content %}



    <script src="{% static 'IDE/js/jquery.min.js' %}"></script>
    <script src="{% static 'IDE/js/popper.min.js' %}"></script>
    <script src="{% static 'IDE/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'IDE/js/bootstrap-treeview.js' %}"></script>
    <script src="{% static 'IDE/js/web-ide-scripts.js' %}"></script>

    
    <!-- Codemirror scripts -->
    <script src="{% static 'IDE/codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/search/searchcursor.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/search/search.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/dialog/dialog.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/edit/closebrackets.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/comment/comment.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/wrap/hardwrap.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/fold/foldcode.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/fold/brace-fold.js' %}"></script>
    <script src="{% static 'IDE/codemirror/mode/usql/usql.js' %}"></script>
    <script src="{% static 'IDE/codemirror/mode/xml/xml.js' %}"></script>
    <script src="{% static 'IDE/codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
    <script src="{% static 'IDE/codemirror/keymap/sublime.js' %}"></script>

    <script src="{% static 'IDE/codemirror/addon/hint/show-hint.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/hint/xml-hint.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/hint/html-hint.js' %}"></script>
    <script src="{% static 'IDE/codemirror/addon/hint/sql-hint.js' %}"></script>
        

    {% block javascript %} codigo javascript {% endblock javascript %}
    
</body>


</html>