{% extends "IDE/base-layout.html" %} {% block content %}

<div class="div-container-left">
    <div class="navbar-separator"></div>
    
    <!-- Tree container -->
    <div class="div-container-tree">
        <ul class="nav nav-tabs" id="myTabTree" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tree-tab-panel" data-toggle="tab" href="#tree-tab" role="tab" aria-controls="tree-tab"
                    aria-expanded="true">Bases de datos</a>
            </li>
        </ul>
        <div class="tab-content tab-content-full-output" id="myTreeTabContent">
            <div class="tab-pane fade show active tab-pane-item-output" id="tree-tab" role="tabpanel" aria-labelledby="tree-tab">
                <div id="treeview12" class=""></div>
                
                <div id="cm_databases" class="dropdown-menu" role="menu" style="display:none" >
                    <a class="dropdown-item" tabindex="-1" href="#">Crear Base de datos</a>
                    <a class="dropdown-item" tabindex="-1" href="#">Ver código</a>
                </div>                
                <div id="cm_database" class="dropdown-menu" role="menu" style="display:none" >
                    <a class="dropdown-item" tabindex="-1" href="#">Eliminar</a>
                    <a class="dropdown-item" tabindex="-1" href="#">Crear script</a>
                    <a class="dropdown-item" tabindex="-1" href="#">Backup</a>
                    <a class="dropdown-item" tabindex="-1" href="#">Restaurar</a>
                    <a class="dropdown-item" tabindex="-1" href="#">Asignar permisos</a>
                </div>                
                <div id="cm_tables" class="dropdown-menu" role="menu" style="display:none" >
                    <a class="dropdown-item" tabindex="-1" href="#">Crear tabla</a>
                </div>               
                <div id="cm_table" class="dropdown-menu" role="menu" style="display:none" >
                    <a class="dropdown-item" tabindex="-1" href="#">Asignar permisos</a>
                    <a class="dropdown-item" tabindex="-1" href="#">Ver data</a>
                </div>
                <div id="cm_functions" class="dropdown-menu" role="menu" style="display:none" >
                    <a class="dropdown-item" tabindex="-1" href="#">Crear función</a>
                </div>               
                <div id="cm_function" class="dropdown-menu" role="menu" style="display:none" >
                    <a class="dropdown-item" tabindex="-1" href="#">Asignar permisos</a>
                    <a class="dropdown-item" tabindex="-1" href="#">Ver codigo</a>
                </div>
                <div id="cm_objects" class="dropdown-menu" role="menu" style="display:none" >
                    <a class="dropdown-item" tabindex="-1" href="#">Crear objeto</a>
                </div>               
                <div id="cm_object" class="dropdown-menu" role="menu" style="display:none" >
                    <a class="dropdown-item" tabindex="-1" href="#">Asignar permisos</a>
                    <a class="dropdown-item" tabindex="-1" href="#">Ver codigo</a>
                </div>
                <div id="cm_users" class="dropdown-menu" role="menu" style="display:none" >
                    <a class="dropdown-item" tabindex="-1" href="#">Crear Usuario</a>
                </div>               
                <div id="cm_user" class="dropdown-menu" role="menu" style="display:none" >
                    <a class="dropdown-item" tabindex="-1" href="#">Eliminar Usuario</a>
                </div>


            </div>
        </div>
    </div>    
</div>

<div class="div-container-right">
    <div class="navbar-separator"></div>

    <!-- Editors container -->
    <div class="div-container-editors">
        <ul class="nav nav-tabs" id="ul-container-editors-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="sql-tab" data-toggle="tab" href="#sql" role="tab" aria-controls="sql" aria-expanded="false">SQL</a>
            </li>
            
            <!-- Aqui entran los nuevos tab de editores -->            
            <!--li class="nav-item dropdown" id="div-container-editors-li-menu">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-plus"></span>
                    </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="btnNewScriptEditor" href="#" ><span class="fa fa-code"></span> New USQL editor</a>
                    <a class="dropdown-item" id="btnOpenScriptEditor-tab" href="javascript:void(0)" role="tab" data-toggle="tab" aria-controls="dropdown2"><span class="fa fa-file"></span> Open USQL from database</a>
                    <a class="dropdown-item" id="btnUploadScriptEditor-tab" href="javascript:void(0)" role="tab" data-toggle="tab" aria-controls="dropdown2"><span class="fa fa-cloud-upload"></span> Upload USQL</a>
                </div>
            </li-->
        </ul>
        <div class="tab-content tab-content-full-editor" id="myEditorsTabContent">
            <div class="tab-pane fade tab-pane-item-editor show active" id="sql" role="tabpanel" aria-labelledby="sql-tab">
                <article id="txtScript_sql" class="code-editor"></article>
            </div>
            <!-- Aqui entran los nuevos editores -->
        </div>
    </div>


    <!-- Outputs container -->
    <div class="div-container-outputs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="salida-datos-tab" data-toggle="tab" href="#salida-datos" role="tab" aria-controls="salida-datos"
                    aria-expanded="true">Salida de datos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="plan-tab" data-toggle="tab" href="#plan" role="tab" aria-controls="plan">Plan de ejecución</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mensajes-tab" data-toggle="tab" href="#mensajes" role="tab" aria-controls="mensajes">Mensajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="historial-tab" data-toggle="tab" href="#historial" role="tab" aria-controls="historial">Historial</a>
            </li>
        </ul>
        <div class="tab-content tab-content-full-output" id="myOutputsTabContent">
            <div class="tab-pane fade show active tab-pane-item-output" id="salida-datos" role="tabpanel" aria-labelledby="salida-datos">
                <textarea id="output-datos" class="console"></textarea>
            </div>
            <div class="tab-pane fade tab-pane-item-output" id="plan" role="tabpanel" aria-labelledby="plan-tab">
                <textarea id="output-plan" class="console"></textarea>
            </div>
            <div class="tab-pane fade tab-pane-item-output" id="mensajes" role="tabpanel" aria-labelledby="mensajes-tab">
                <textarea id="output-mensajes" class="console"></textarea>
            </div>
            <div class="tab-pane fade tab-pane-item-output" id="historial" role="tabpanel" aria-labelledby="historial-tab">
                <textarea id="output-historial" class="console"></textarea>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block javascript %}

<script type="text/javascript">
    
    
</script>

{% endblock javascript %}