body {
    font-family: sans-serif;
    overflow: hidden;
}

html, body { height: 100%; padding: 0; margin: 0; }
.div-container-left { 
    width: 20%; 
    height: 100%; 
    float: left;  
    background: #919191;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
    border-color: #262A43;}
.div-container-right { width: 80%; height: 100%; float: left;  background: #B6B6B6;}

.div-container-tree { 
    width: 100%; 
    height: 100%; 
    float: left;  
    padding-top: 5px;
    border-style: solid;
    border-width: 2px 0px 5px 0px;
    border-color: #262A43;
}

.div-container-editors { 
    width: 100%; 
    height: 70%; 
    float: left;  
    padding-top: 5px;
    border-style: solid;
    border-width: 2px 0px 5px 0px;
    border-color: #262A43;
}
.div-container-outputs { 
    width: 100%; 
    height: 30%; 
    float: left;
    padding-top: 5px; 
}

.navbar-separator {
    height: 33px;
}


.tab-content-full-editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 25px;
}


.tab-content-full-output {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 44px;
}

.tab-pane-item-editor {
    width: 100%;
    height: 100%;
    background: #01012F;
}


.tab-pane-script-editor {
    width: 100%;
    height: 100%;
    padding-bottom: 36px;
    background: #01012F;
}

.tab-pane-item-output {
    width: 100%;
    height: 100%;
    background: #FFFFFF;

    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #FFFFFF;
}


.code-editor {
    width: 100%;
    height: 100%;
    float: left;
}

.report-editor {
    width: 50%;
    height: 100%;
    float: left;
    border: 3px solid #eee;
}

.console {
    width: 100%;
    height: 100%;
    float: left;
    border: none;

    background-color: #08001D;
    color: #25D225;
    font-family: Consolas, monaco, monospace;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18px;
}

.menu-script {
    width: 100%;
    height: 36px;
    float: left;
    background-color: white;
    border-bottom-style: solid;
    border-color: #251A42;
}

.CodeMirror {border: 0px solid #eee; height: 100% !important;}
.CodeMirror-linenumbers { padding: 0 8px; }

.treeview .list-group-item {
    position: relative;
    display: block;
    padding: 5px 15px;
    margin-bottom: -1px;
    line-height: 1em
}

.nav-item a{
    padding: 0px 15px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:0px !important; 
    padding-bottom: 0px !important;
    height: 20px;
}
.navbar {min-height:0px !important;}

.nav-tabs {
    padding-left: 5px;
}

.tab-pane-item-output-table {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    overflow: scroll;

    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #FFFFFF;
}

.tabla_resultado table {
    overflow-x:scroll;
    overflow-y:scroll;
}

.tabla_resultado table, th, td {
    border: 1px solid #ddd;
 }

 .tabla_resultado tr:hover {background-color: #f5f5f5}