body {
    font-family: sans-serif;
    overflow: hidden;
}

html, body { height: 100%; padding: 0; margin: 0; }
.div-container-left { 
    width: 20%; 
    height: 100%; 
    float: left;  
    background: #919191;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
    border-color: #262A43;}
.div-container-right { width: 80%; height: 100%; float: left;  background: #B6B6B6;}

.div-container-tree { 
    width: 100%; 
    height: 100%; 
    float: left;  
    padding-top: 5px;
    border-style: solid;
    border-width: 2px 0px 5px 0px;
    border-color: #262A43;
}

.div-container-editors { 
    width: 100%; 
    height: 70%; 
    float: left;  
    padding-top: 5px;
    border-style: solid;
    border-width: 2px 0px 5px 0px;
    border-color: #262A43;
}
.div-container-outputs { 
    width: 100%; 
    height: 30%; 
    float: left;
    padding-top: 5px; 
}

.navbar-separator {
    height: 56px;
}

.nav-tabs {
    padding-left: 5px;
}

.tab-content-full-editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 42px;
}


.tab-content-full-output {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 98px;
}

.tab-pane-item-editor {
    width: 100%;
    height: 100%;
    background: #01012F;
}


.tab-pane-script-editor {
    width: 100%;
    height: 100%;
    padding-bottom: 36px;
    background: #01012F;
}

.tab-pane-item-output {
    width: 100%;
    height: 100%;
    background: #FFFFFF;

    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #FFFFFF;
}


.code-editor {
    width: 100%;
    height: 100%;
    float: left;
    
    /*font-family: Consolas, monaco, monospace;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;*/
}

.console {
    width: 100%;
    height: 100%;
    float: left;
    border: none;

    background-color: #08001D;
    color: #25D225;
    font-family: Consolas, monaco, monospace;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18px;
}

.menu-script {
    width: 100%;
    height: 36px;
    float: left;
    background-color: white;
    border-bottom-style: solid;
    border-color: #251A42;
}

.CodeMirror {border: 0px solid #eee; height: 100% !important;}
.CodeMirror-linenumbers { padding: 0 8px; }